.container {
	position: fixed;
	left: 0;
	width: 614px;
	height: 100%;
	overflow: auto;
	transform: translate(-614px);
	transition: transform 0.5s ease;
	
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
 
	flex-direction: column;
	box-sizing: border-box;
	justify-content: space-between;
	height: auto;
	min-height: 100%;
	padding: 50px 30px;
	background-color: #ffffff;
 
 
}

.title {
	font-family: Open Sans;
	font-style: normal;
	font-size: 31px;
	line-height: 42px;
 	font-weight: 800;
	text-transform: uppercase;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 0;
}
 
 